# KohaLXC/kohatools (data+mmtenv): PP/MMT-configuration
# file: $KOHALXC_TOOLDIR/ppmmtws/PerlMMT/{{ item.name }}
{{ ansible_managed | comment }}

# Note: This translation table is not used anywhere. It is here just for trying out better organization.

package TranslationTables::cutype_to_borrower_categorycode;

use Modern::Perl;
use Carp qw(cluck);

our $tableJokunen = {
    '0' => 'HENKILO',
    '1' => 'YHTEISO',
    '2' => 'TAKAAJA',
    '3' => 'KIRJASTO',
    '4' => 'KAUKOLAINA',
    '5' => 'KOTIPALVEL',
    '6' => 'LAPSI',
    '8' => 'KAUKOLAINA',
    '9' => 'TILASTO',
};

our $tablePielinen = {
    '0' => 'HENKILO',
    '1' => 'YHTEISO',
    '2' => 'VIRKAILIJA',
    '3' => 'KIRJASTO',
    '4' => 'KOTIPALVEL',
    '6' => 'LAPSI', #OK
    '9' => 'TILASTO', #OK
};

our $tableLappi = {	# organization: 'kohalappi'
    '0' => 'HENKILO',
    '1' => 'YHTEISO',
    '2' => 'VIRKAILIJA',
    '3' => 'KIRJASTO', # In PatronsImportChain 'KAUKOLAINA' is not correct here, should be 'KIRJASTO' changed in 2017-01-16
    '5' => 'KOTIPALVEL',
    '7' => 'PMKIRJAUTO', # ..to make sure MMT/Lappi does not complain + for PatronsImportChain this category added to devKoha 2017-01-16 (only 4 records have this).
    '6' => 'LAPSI',
    '8' => 'ETALAINA',	# to make sure MMT/Lappi does not complain + in PatronsImportChain such category is not needed in Koha so the bulkImport phase just does not insert these to Koha, 2017-01-16
    '9' => 'EITILASTO',
};

sub fetch {
    my $key = shift();
    my $borcat;

    if ($CFG::CFG->{organization} eq 'pielinen') {
        $borcat = $tablePielinen->{$key} if exists $tablePielinen->{$key};
    }
    elsif ($CFG::CFG->{organization} eq 'jokunen') {
        $borcat = $tableJokunen->{$key} if exists $tableJokunen->{$key};
    }
    elsif ($CFG::CFG->{organization} eq 'kohalappi') {
        $borcat = $tableLappi->{$key} if exists $tableLappi->{$key};
    }
    else {
        cluck "No such organization '$CFG::CFG->{organization}' mapped!";
    }
    return $borcat if $borcat;
    return undef;
}